{% extends 'base.html' %}

{% block title %} Principal {% endblock %}

{% block details %}

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>New company</h3>
    </div>
  </div>
  
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_title">
          <h2>Company</h2>
          <div class="clearfix"></div>
        </div>
        
        <div class="x_content">

          <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="name" required="required" class="form-control col-md-7 col-xs-12">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="slug">Slug
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="slug" name="slug" required="required" class="form-control col-md-7 col-xs-12" disabled>
              </div>
            </div>
            <div class="form-group">
              <label for="category" class="control-label col-md-3 col-sm-3 col-xs-12">Category <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="category" class="form-control col-md-7 col-xs-12" type="text" name="category">
              </div>
            </div>
            <div class="ln_solid"></div>

            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
