{% extends 'base.html' %}

{% block title %} Principal {% endblock %}

{% block details %}

<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>New company</h3>
    </div>
  </div>
  
  <div class="clearfix"></div>

  <a href="{% url 'create_company' %}">Create company</a><br>
  <a href="{% url 'create_category' %}">Create category</a>

  <div class="companies">
    <h1>Companies</h1>
    {% for company in companies %}
    <h3><a href="{% url 'show_company' company.slug %}">{{ company.name }}</a></h3>
    {% endfor %}
  </div>
  
  <div class="categories">
    <h1>Categories</h1>
    {% for category in categories %}
    <h3>{{ category.name }}</h3>
    {% endfor %}
  </div>

</div>

{% endblock %}
